[submodule "lib/mbed_Pololu_DualMC33926_MotorShield"]
	path = lib/mbed_Pololu_DualMC33926_MotorShield
	url = git@github.com:MPRlab/mbed_Pololu_DualMC33926_MotorShield.git
[submodule "lib/eigen-git-mirror"]
	path = lib/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "lib/Eigen"]
	path = lib/Eigen
	url = https://github.com/mprlab/Eigen.git
