[submodule "lib/mbed_Pololu_DualMC33926_MotorShield"]
	path = lib/mbed_Pololu_DualMC33926_MotorShield
	url = git@github.com:MPRlab/mbed_Pololu_DualMC33926_MotorShield.git
[submodule "lib/ODriveMbed"]
	path = lib/ODriveMbed
	url = git@github.com:stoneil/ODriveMbed.git
[submodule "lib/OSC-Client"]
	path = lib/OSC-Client
	url = git@github.com:MPRlab/OSC-Client.git
[submodule "lib/pitch-sensing"]
	path = lib/pitch-sensing
	url = git@github.com:MPRlab/pitch-sensing.git
